<!doctype html>
<meta charset="utf-8">
<title>GathNews</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css') }}">

<div class="page-container">
	<div class="title">
		<p>GathNews
	</div>

	<div class="bar">
			<input type="text" name="query">
			<button id="query" type="button">Search</button>
		</div>
	<div class="page-search">
		<ul class="search-list"></ul>
	</div>
</div>
<script src="{{url_for('static',filename='jquery-1.11.2.min.js') }}"></script>
<script src="{{url_for('static',filename='underscore-min.js') }}"></script>
<script src="{{url_for('static',filename='backbone-min.js') }}"></script>
<script src="{{url_for('static',filename='script.js') }}"></script>
