
.sidebar {
    background: #313131;
    position: fixed;
    bottom: 0px;
    top:0px;
}
.sidebar-center {
    text-align:center;
}


.my-form {
    margin-top:400px;

}
.my-form-center {
    margin-top:400px;
    min-height:250px;
    width:50%;
    margin: 0 auto;
}


.my-title {
    text-align:right;
    color: #adadad;
    width: 100%;
    font-weight: bold;
    font-size: 50px;
    float:right;
    clear:right;
    font-family: Helvetica;
    margin-top: 250px;
    margin-right: 20px;
    margin-bottom:10px;
}

.my-title-center {
    text-align: center;
}

.my-input {
    text-align:center;
    color:white;
    background:#717171;
    font-size: 20px;
    width:70%;
    padding:10px;
    border: solid 2px #575757;
    border-right:0px;
}

.my-input-right {
    float:right;
    clear:right;
}

.my-input-center {
    float:none;
    width: 100%;
    margin: 0 auto;
}

.my-input:focus {
  border: solid 4px white;
  border-right:0px;
  outline:none;
}
.my-button {
    margin-top: 10px;
    width: 60%;
    background:#717171;
    border: solid 2px black;
    border-right: 0;
}
.my-button-right {
    float:right;
    clear:right;
}

.my-button-center {

    float:none;
    margin: 0 auto;
    border-right:solid 2px white;
}

.content {
    margin-right:100px;
    margin-left:25%;
}

.news-item {
    padding: 20px;
    padding-left:40px;
    min-height: 200px;
    width: 80%;

}

.news-item-rule {
    border: 0;
    height: 1px;
    background:#cbcbcb;
}

.news-item-header {
    margin-top:30px;
}

.news-item-title {
    word-spacing:0px;
    font-size: 2em;
    font-weight:bold;
    color: #222;
}
.news-item-author-line {
    font-size: 90%;
    color:#cbcbcb;

}
.news-item-author{
    font-size: 90%;
    color: #222;

}

.article-src-wrapper {
    background:#8595ff;
    padding: 3px;

}

.news-item-text {
    line-height:30px;
    font-size: 18px;
    font-family: Georgia;
    letter-spaceing: 0.01em;
    padding-bottom:10px;
    color: #686868;
    -webkit-box-shadow: 0px 41px 46px -42px rgba(0,0,0,0.11);
-moz-box-shadow: 0px 41px 46px -42px rgba(0,0,0,0.11);
box-shadow: 0px 41px 46px -42px rgba(0,0,0,0.11);
}

.my-title-theme-blue {
    color: white;
}

.sidebar-theme-blue {
    background:#1f8dd6;
}

.my-input-theme-blue {
    color:#222;
    background: white;
    border-width:0;
}

.my-button-theme-blue {
    color:white;
    background:#1f8dd6;
    border-color: white;
}
